<div class="modal show modeless">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header win-custom">
                <div style="float:right;">
                    <button type="buton"  class="win-minimize" data-dismiss="modal" aria-hidden="true">&#95;</button>
                    <button type="button" class="win-maximize" data-dismiss="modal" aria-hidden="true">&plus;</button>
                    <button type="button" class="win-close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <h4 class="modal-title"><%= windowModel.fulltitle %></h4>
            </div>
            <div class="modal-body normal">
                <p><%= windowModel.text %></p>
                <!--
                <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                -->
            </div>
            
            <div class="modal-footer">
                <!--
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
                -->
            </div>
        </div>
    </div>
</div>